body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
}

.img {
    height: 100vh;
    object-fit: cover;
    background: url(./assets/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.img-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    /* Default darker overlay */
    transition: background 0.3s ease;
    z-index: 9999999;
}

.text {
    margin: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    height: 100%;
    width: 70%;
    position: relative;
    z-index: 99999;
    background-color: transparent;
    font-size: 4rem;
    color: white;
}

.text-overlay {
    width: 100%;
    position: relative;
    margin-top: 100vh;
    height: 100%;
    z-index: 9999;
    border-top: 2em solid rgba(white, 0.1);
}